@import '../../app.scss';
.section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .item {
    background-color: var(--el-color);
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 6px;
    gap: 10px;
    .title {
      font-size: 20px;
      font-weight: 500;
    }
    .info {
      display: flex;
      flex-direction: row;
      gap: 10px;
      @include mobile {
        flex-direction: column;
      }
    }
  }
}
